<h1>Share your creation!</h1>
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :description, as: :text%>
  <%= f.input :colour, collection: [ "orange", "yellow", "green", "red", "blue", "brown", "clear"] %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
